@charset "UTF-8";
/* roboto-300 - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/roboto-v20-cyrillic-300.woff2") format("woff2"), url("../fonts/roboto-v20-cyrillic-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* roboto-regular - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-v20-cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v20-cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* roboto-500 - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto-v20-cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v20-cyrillic-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* roboto-700 - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto-v20-cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v20-cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #FFFFFF;
  transition: all 0.3s;
  font-family: 'Roboto'; }

a {
  color: inherit;
  text-decoration: none; }

button {
  cursor: pointer;
  outline: 0;
  border: none;
  background: none; }

ul {
  list-style: none; }

.headling1 {
  font-size: 50px;
  line-height: 50x;
  font-weight: 500; }

.headling2 {
  font-size: 35px;
  line-height: 35px;
  font-weight: 500; }

.headling3 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 18px; }

.btn {
  width: 100%;
  height: 44px;
  background-color: #ec7919;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #ffffff; }

.btn-phone {
  width: 189px;
  height: 44px;
  background-color: #ec7919;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #ffffff; }

.catalog-btn {
  width: 274px;
  height: 58px;
  background-color: #38393e;
  display: flex;
  justify-content: center;
  margin-right: 44px;
  align-items: center; }
  .catalog-btn .burger {
    display: flex;
    flex-direction: column;
    margin-right: 19px; }
    .catalog-btn .burger .line {
      width: 27px;
      height: 2px;
      background-color: #ffffff;
      margin-bottom: 5px; }
    .catalog-btn .burger .line:last-child {
      margin-bottom: 0; }
  .catalog-btn .catalog-text {
    font-size: 20px;
    line-height: 16px;
    font-weight: 400;
    color: #ffffff; }

.doors-name-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 271px;
  height: 43px;
  border: 1.0px solid #d0d0d0;
  font-size: 17px;
  line-height: 16px;
  font-weight: 500;
  margin-bottom: 2px;
  padding: 0 17px 0 29px; }

.point {
  width: 8px;
  height: 8px;
  border-bottom: solid 2px black;
  border-right: solid 2px black;
  transform: rotate(45deg) translateX(-25%); }

.door-material-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: left;
  font-size: 18px;
  line-height: 16px;
  font-weight: 400;
  margin-bottom: 23px; }
  .door-material-btn:hover .point-in {
    border-color: #ec7919; }

.point-in {
  width: 8px;
  height: 8px;
  border-bottom: solid 2px black;
  border-right: solid 2px black;
  transform: rotate(-45deg) translateX(-25%); }

.slider-dot-btn {
  width: 11px;
  height: 11px;
  border: 2.0px solid #ec7919;
  border-radius: 6px; }
  .slider-dot-btn:hover {
    background-color: #ec7919; }

.sale-btn {
  width: 259px;
  height: 55px;
  background-color: #ec7919;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: #ffffff; }

.sort-btn {
  width: 131px;
  height: 44px;
  background-color: #ec7919;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff; }

.sort-cancel-btn {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: #ec7919; }

.price-btn {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-decoration: underline;
  color: #ec7919; }

.showAll-btn {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: #ec7919; }

.in-basket-btn {
  width: 136px;
  height: 39px;
  background-color: #ec7919;
  font-size: 15px;
  line-height: 15px;
  font-weight: 500;
  color: #ffffff; }

.more-goods-btn {
  width: 100%;
  height: 63px;
  background-color: #ec7919;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 24px; }

.arrow-btn {
  width: 47px;
  height: 47px;
  background-color: #fafafa;
  border: 1.0px solid #525358;
  display: flex;
  align-items: center;
  justify-content: center; }

.count-btn {
  width: 35px;
  height: 35px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500; }
  .count-btn:hover {
    background-color: #ec7919;
    color: #ffffff; }

.num-btn {
  width: 43px;
  height: 45px;
  border: 1.0px solid #dcdcdc;
  font-size: 25px;
  line-height: 24px;
  font-weight: 400; }

.sent-basket-btn {
  width: 100%;
  height: 48px;
  border: 1.5px solid #ec7919;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: #ec7919; }
  .sent-basket-btn:hover {
    background-color: #ec7919;
    color: #ffffff; }

.but-btn {
  border: 1.5px solid #ec7919;
  font-size: 18px;
  line-height: 45px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #ec7919; }

.offer-btn {
  border: none;
  margin-top: 127px; }

.close-btn {
  width: 17px;
  height: 17px;
  background-image: url("../img/iconcolor/крест.jpg"); }

.form-btn {
  background-color: #ec7919;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: #ffffff; }

input {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #868383;
  height: 40px;
  width: 100%;
  padding-left: 22px; }

.dark-container {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(128, 128, 128, 0.6);
  display: none;
  justify-content: center;
  align-items: flex-start;
  z-index: 1;
  overflow: hidden; }
  .dark-container .close-container {
    width: 100%;
    text-align: end;
    margin-bottom: 10px;
    padding: 0 10px; }
    .dark-container .close-container .close {
      width: 17px;
      height: 17px; }
  .dark-container .phone-window {
    width: 240px;
    height: 180px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px; }
  .dark-container input {
    padding: 0 10px;
    height: 30px; }
    .dark-container input:not(:last-child) {
      margin-bottom: 20px; }
  .dark-container .phone-btn {
    background-color: #ec7919;
    color: white; }

.show {
  display: flex; }

.header .container {
  max-width: 1600px;
  margin: 0 auto;
  display: flex; }
  .header .container .head {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 19px 0 15px 0; }
    .header .container .head .logo {
      display: block;
      height: 89px; }
    .header .container .head .contact {
      display: flex;
      align-items: center; }
      .header .container .head .contact .tel {
        padding-left: 29px;
        background-image: url("../img/iconcolor/телефон.jpg");
        background-repeat: no-repeat;
        background-position: left center;
        margin-right: 16px;
        font-size: 26px;
        line-height: 24px;
        font-weight: 500; }
    .header .container .head .basket {
      width: 182px;
      padding-left: 50px;
      background-image: url("../img/iconcolor/корзина.jpg");
      background-repeat: no-repeat;
      background-position: left center;
      font-size: 16px;
      line-height: 20px;
      font-weight: 300;
      text-align: left; }
      .header .container .head .basket .good-num {
        font-weight: 500;
        margin-right: 5px; }
      .header .container .head .basket .good-price {
        font-weight: 500;
        margin-left: 5px; }

.header .menu-bar {
  background-color: #525358;
  margin-bottom: 20px; }
  .header .menu-bar .search {
    padding: 0 17px 0px 18px;
    width: 273px;
    height: 36px;
    background-image: url("../img/iconcolor/поиск.jpg");
    background-repeat: no-repeat;
    background-position: right 17px center;
    margin: 11px 36px 11px 0; }
  .header .menu-bar ::-moz-placeholder {
    opacity: 0.8;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #b3b0b0; }
  .header .menu-bar :-ms-input-placeholder {
    opacity: 0.8;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #b3b0b0; }
  .header .menu-bar ::-ms-input-placeholder {
    opacity: 0.8;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #b3b0b0; }
  .header .menu-bar ::placeholder {
    opacity: 0.8;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #b3b0b0; }
  .header .menu-bar .menu {
    display: flex; }
    .header .menu-bar .menu .menu-list {
      display: flex;
      width: 973px;
      justify-content: space-between;
      align-items: center; }
      .header .menu-bar .menu .menu-list .item-btn {
        font-size: 20px;
        line-height: 1.2;
        font-weight: 300;
        color: #ffffff; }

.sidebar {
  width: 274px;
  margin-right: 47px; }
  .sidebar .doors > .active .door-mat-list {
    display: block; }
  .sidebar .doors {
    margin-bottom: 48px; }
    .sidebar .doors .door-mat-list {
      padding: 23px 18px 3px 30px;
      display: none; }
    .sidebar .doors .door-mat-list > .active .veneer {
      display: block; }
    .sidebar .doors .veneer {
      margin-bottom: 27px;
      padding-left: 55px;
      display: none; }
      .sidebar .doors .veneer .veneer-item:not(:last-child) {
        margin-bottom: 23px; }
      .sidebar .doors .veneer .veneer-name {
        font-size: 16px;
        color: #d96e14; }
        .sidebar .doors .veneer .veneer-name:hover {
          text-decoration: underline; }
  .sidebar .sort-color {
    padding: 23px 0 28px 20px;
    display: none; }
    .sidebar .sort-color .color:not(:last-child) {
      margin-bottom: 20px; }
    .sidebar .sort-color .color-name {
      padding-left: 22px;
      display: flex;
      align-items: center; }
      .sidebar .sort-color .color-name .circle {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 15px; }
    .sidebar .sort-color .color-choise {
      margin-right: 11px;
      height: 11px; }
    .sidebar .sort-color .color-name:hover {
      text-decoration: underline;
      color: #d66d15; }
  .sidebar .doors-parameters > .active .sort-color {
    display: block; }

.footer .fullcontainer {
  background-color: #35363b; }
  .footer .fullcontainer .container {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    padding: 82px 0;
    justify-content: space-between;
    align-items: center; }
    .footer .fullcontainer .container .logo-footer {
      width: 298px;
      height: 89px; }
    .footer .fullcontainer .container .discount {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      line-height: 14px;
      font-weight: 400;
      color: #989696;
      margin-bottom: 13px; }
    .footer .fullcontainer .container .footersearch {
      padding: 12px 33px 10px 18px;
      width: 319px;
      background-image: url("../img/iconcolor/поиск.jpg");
      background-repeat: no-repeat;
      background-position: right 17px center; }
      .footer .fullcontainer .container .footersearch::-moz-placeholder {
        opacity: 0.8;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 400;
        color: #b3b0b0; }
      .footer .fullcontainer .container .footersearch:-ms-input-placeholder {
        opacity: 0.8;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 400;
        color: #b3b0b0; }
      .footer .fullcontainer .container .footersearch::-ms-input-placeholder {
        opacity: 0.8;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 400;
        color: #b3b0b0; }
      .footer .fullcontainer .container .footersearch::placeholder {
        opacity: 0.8;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 400;
        color: #b3b0b0; }
    .footer .fullcontainer .container .nav-menu {
      -moz-columns: 2;
      columns: 2;
      -moz-column-gap: 105px;
      column-gap: 105px; }
      .footer .fullcontainer .container .nav-menu .item-list:not(:last-child) {
        margin-bottom: 22px; }
      .footer .fullcontainer .container .nav-menu .item-nav {
        font-size: 20px;
        line-height: 20px;
        font-weight: 300;
        color: #ffffff; }
      .footer .fullcontainer .container .nav-menu .item-list a:hover {
        font-weight: 700; }
    .footer .fullcontainer .container .contact {
      width: 293px;
      text-align: right; }
      .footer .fullcontainer .container .contact .footer-phone {
        margin-bottom: 26px; }
        .footer .fullcontainer .container .contact .footer-phone .foter-tel {
          font-size: 26px;
          line-height: 24px;
          font-weight: 500;
          color: #ffffff;
          padding-left: 32px;
          background-image: url("../img/iconcolor/phone.png");
          background-repeat: no-repeat;
          background-position: left center; }
        .footer .fullcontainer .container .contact .footer-phone .schedule {
          font-size: 14px;
          line-height: 20px;
          font-weight: 500;
          color: #9c9a9a; }
          .footer .fullcontainer .container .contact .footer-phone .schedule .day {
            font-weight: 400;
            color: #ffffff;
            margin: 0 3px; }
      .footer .fullcontainer .container .contact .mail-link {
        display: inline-block;
        font-size: 20px;
        line-height: 1.2;
        font-weight: 300;
        color: #ffffff;
        margin-bottom: 28px;
        padding-left: 27px;
        background-image: url("../img/iconcolor/mail.png");
        background-repeat: no-repeat;
        background-position: left center; }
      .footer .fullcontainer .container .contact .footer-address {
        font-size: 16px;
        line-height: 1.2;
        font-weight: 300;
        color: #a19f9f;
        padding-left: 29px;
        background-image: url("../img/iconcolor/adres.png");
        background-repeat: no-repeat;
        background-position: left top; }

.page-main {
  position: relative; }
  .page-main .container {
    max-width: 1600px;
    margin: 0 auto;
    display: flex; }
    .page-main .container .main-section {
      width: 80.19%;
      margin-bottom: 40px; }
      .page-main .container .main-section .slider {
        height: 442px;
        background-image: url(../img/img/slide-desktop-1.jpeg);
        background-position-x: -108px;
        margin-bottom: 50px;
        position: relative; }
        .page-main .container .main-section .slider .new-year-img {
          width: 476px;
          height: 398px;
          opacity: 0.25; }
        .page-main .container .main-section .slider .slider-news {
          position: absolute;
          top: 120px;
          left: 285px; }
          .page-main .container .main-section .slider .slider-news > .headling1 {
            margin-bottom: 24px; }
          .page-main .container .main-section .slider .slider-news .text {
            font-size: 30px;
            font-weight: 300;
            line-height: 30px;
            margin-bottom: 31px; }
      .page-main .container .main-section .slider-btn-list {
        margin-bottom: 80px;
        display: flex;
        justify-content: center; }
        .page-main .container .main-section .slider-btn-list .item:not(:last-child) {
          margin-right: 23px; }
      .page-main .container .main-section .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; }
        .page-main .container .main-section .content .doors-kind {
          width: 49.77%; }
          .page-main .container .main-section .content .doors-kind:nth-child(2n) {
            margin-right: 0;
            width: 36.2%; }
            .page-main .container .main-section .content .doors-kind:nth-child(2n) .models {
              justify-content: flex-start; }
              .page-main .container .main-section .content .doors-kind:nth-child(2n) .models .model-item {
                width: calc(100%/3); }
          .page-main .container .main-section .content .doors-kind > .headling2 {
            margin-bottom: 26px; }
          .page-main .container .main-section .content .doors-kind .models {
            display: flex;
            margin-bottom: 36px;
            justify-content: space-between; }
            .page-main .container .main-section .content .doors-kind .models .model-item {
              width: calc(100%/4);
              height: 325px;
              text-align: center; }
            .page-main .container .main-section .content .doors-kind .models .m-img {
              height: 240px;
              margin-bottom: 19px; }
            .page-main .container .main-section .content .doors-kind .models .m-title {
              text-align: center;
              font-size: 18px;
              line-height: 22px;
              font-weight: 500;
              margin-bottom: 14px; }
            .page-main .container .main-section .content .doors-kind .models .m-count {
              font-size: 16px;
              line-height: 18px;
              font-weight: 300; }
          .page-main .container .main-section .content .doors-kind .m-link {
            margin-bottom: 72px; }
            .page-main .container .main-section .content .doors-kind .m-link .doorLink {
              display: inline-block;
              margin-right: 6px;
              font-size: 20px;
              line-height: 28px;
              font-weight: 500;
              color: #ec7919; }

.page-basket {
  position: relative; }
  .page-basket .container {
    max-width: 1600px;
    margin: 0 auto;
    display: flex; }
    .page-basket .container .main-section {
      width: 100%; }
      .page-basket .container .main-section .index {
        display: flex;
        margin-bottom: 45px; }
        .page-basket .container .main-section .index .index-text {
          font-size: 16px;
          line-height: 16px;
          font-weight: 400;
          color: #ec7919;
          margin-right: 10px; }
        .page-basket .container .main-section .index .choose {
          font-weight: 300;
          color: #525358; }
      .page-basket .container .main-section .headling2 {
        margin-bottom: 35px; }
      .page-basket .container .main-section .basket-container {
        width: 100%;
        height: 242px;
        margin-bottom: 36px;
        padding: 0 40px;
        border: 1.0px solid #dcdcdc; }
        .page-basket .container .main-section .basket-container .head .head-text {
          font-size: 15px;
          line-height: 1.2;
          font-weight: 700;
          text-transform: uppercase;
          border-bottom: 1.0px solid #dcdcdc; }
        .page-basket .container .main-section .basket-container .head .photo {
          text-align: start;
          border-bottom: 1.0px solid #dcdcdc; }
        .page-basket .container .main-section .basket-container .head .name {
          text-align: start;
          border-bottom: 1.0px solid #dcdcdc; }
        .page-basket .container .main-section .basket-container .head .price {
          border-bottom: 1.0px solid #dcdcdc; }
        .page-basket .container .main-section .basket-container .head .number {
          border-bottom: 1.0px solid #dcdcdc; }
        .page-basket .container .main-section .basket-container .head .sum {
          border-bottom: 1.0px solid #dcdcdc; }
        .page-basket .container .main-section .basket-container .head .edit {
          border-bottom: 1.0px solid #dcdcdc; }
        .page-basket .container .main-section .basket-container .body .body-photo {
          width: 100px; }
          .page-basket .container .main-section .basket-container .body .body-photo .photo {
            width: 36px; }
        .page-basket .container .main-section .basket-container .body .body-name .name {
          width: 455px;
          font-size: 16px;
          line-height: 22px;
          font-weight: 500;
          text-decoration: underline;
          color: #ec7919; }
        .page-basket .container .main-section .basket-container .body .body-name .descp {
          font-size: 16px;
          line-height: 22px;
          font-weight: 500;
          color: #242020;
          text-decoration: none; }
        .page-basket .container .main-section .basket-container .body .body-money {
          width: 97px;
          font-size: 20px;
          line-height: 1.2;
          font-weight: 300;
          text-transform: uppercase; }
        .page-basket .container .main-section .basket-container .body .body-number {
          text-align: center; }
          .page-basket .container .main-section .basket-container .body .body-number .number {
            width: 45px;
            height: 45px;
            border: 1.0px solid #d8d8d8;
            font-size: 18px;
            line-height: 30px;
            font-weight: 500;
            text-transform: uppercase;
            color: #ec7919;
            text-align: center; }
            .page-basket .container .main-section .basket-container .body .body-number .number::-moz-placeholder {
              text-align: center;
              font-size: 18px;
              line-height: 30px;
              font-weight: 500;
              text-transform: uppercase;
              color: #ec7919; }
            .page-basket .container .main-section .basket-container .body .body-number .number:-ms-input-placeholder {
              text-align: center;
              font-size: 18px;
              line-height: 30px;
              font-weight: 500;
              text-transform: uppercase;
              color: #ec7919; }
            .page-basket .container .main-section .basket-container .body .body-number .number::-ms-input-placeholder {
              text-align: center;
              font-size: 18px;
              line-height: 30px;
              font-weight: 500;
              text-transform: uppercase;
              color: #ec7919; }
            .page-basket .container .main-section .basket-container .body .body-number .number::placeholder {
              text-align: center;
              font-size: 18px;
              line-height: 30px;
              font-weight: 500;
              text-transform: uppercase;
              color: #ec7919; }
        .page-basket .container .main-section .basket-container .body .sum {
          font-size: 20px;
          line-height: 1.2;
          font-weight: 300;
          text-transform: uppercase;
          letter-spacing: 0.025em;
          text-align: center; }
        .page-basket .container .main-section .basket-container .body .body-edit {
          text-align: center; }
        .page-basket .container .main-section .basket-container .body .body-instruction {
          grid-column: 3/6; }
        .page-basket .container .main-section .basket-container .body-instruction .instruction-text {
          font-size: 15px;
          line-height: 24px;
          font-weight: 700;
          text-transform: uppercase; }
          .page-basket .container .main-section .basket-container .body-instruction .instruction-text .star {
            color: #ec7919; }
        .page-basket .container .main-section .basket-container .body-instruction .instruction-smalltext {
          font-size: 16px;
          line-height: 24px;
          font-weight: 400;
          color: #ec7919; }
      .page-basket .container .main-section .total {
        margin-bottom: 65px;
        text-align: right; }
        .page-basket .container .main-section .total .sum {
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          margin-bottom: 19px; }
          .page-basket .container .main-section .total .sum .text {
            font-size: 15px;
            line-height: 15px;
            font-weight: 700;
            margin-right: 19px; }
          .page-basket .container .main-section .total .sum .sum-num {
            font-size: 25px;
            line-height: 25px;
            font-weight: 500;
            margin-right: 19px; }
          .page-basket .container .main-section .total .sum .old-num {
            font-size: 25px;
            line-height: 25px;
            font-weight: 400;
            color: #868484;
            text-decoration: line-through; }
        .page-basket .container .main-section .total .save {
          display: flex;
          justify-content: flex-end;
          align-items: flex-end; }
          .page-basket .container .main-section .total .save .discount {
            font-size: 15px;
            line-height: 15px;
            font-weight: 700;
            text-transform: uppercase;
            color: #ec7919;
            margin-right: 19px; }
          .page-basket .container .main-section .total .save .discount-num {
            font-size: 25px;
            line-height: 25px;
            font-weight: 500;
            color: #ec7919; }
      .page-basket .container .main-section .form {
        margin-bottom: 87px;
        background-color: #fafafa;
        padding: 38px 44px 54px 37px; }
        .page-basket .container .main-section .form .headlings2 {
          margin-bottom: 29px;
          font-size: 35px;
          line-height: 35px;
          font-weight: 500; }
        .page-basket .container .main-section .form .container-block1 {
          display: flex;
          margin-bottom: 17px;
          align-content: space-between; }
          .page-basket .container .main-section .form .container-block1 .input-block {
            margin-right: 48px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            width: 558px;
            flex-shrink: 0; }
            .page-basket .container .main-section .form .container-block1 .input-block .input-container {
              display: flex;
              width: 100%;
              align-items: center; }
              .page-basket .container .main-section .form .container-block1 .input-block .input-container:not(:last-child) {
                margin-bottom: 17px; }
              .page-basket .container .main-section .form .container-block1 .input-block .input-container .label-name {
                text-align: end;
                flex-shrink: 0;
                display: block;
                width: 137px;
                font-size: 15px;
                line-height: 15px;
                font-weight: 700;
                text-transform: uppercase;
                margin-right: 18px; }
              .page-basket .container .main-section .form .container-block1 .input-block .input-container .input-name {
                font-size: 16px;
                line-height: 24px;
                font-weight: 300;
                letter-spacing: 0.05em;
                color: #868383;
                height: 40px;
                width: 100%;
                padding-left: 22px; }
              .page-basket .container .main-section .form .container-block1 .input-block .input-container .feature {
                width: 100%;
                padding: 12px 56px 12px 22px;
                font-size: 16px;
                line-height: 16px;
                font-weight: 400;
                height: 40px;
                background-color: #ffffff;
                border: 1px solid #d8d8d8;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background-image: url("../img/iconcolor/selectbtn.png");
                background-repeat: no-repeat;
                background-position: right 16px center; }
          .page-basket .container .main-section .form .container-block1 .text-block {
            width: 100%; }
            .page-basket .container .main-section .form .container-block1 .text-block .text-container .textarea-comments {
              width: 100%;
              height: 154px;
              border: 1.0px solid #d8d8d8;
              margin-bottom: 17px;
              padding: 14px 26px;
              font-size: 16px;
              line-height: 24px;
              font-weight: 300;
              color: #868383; }
            .page-basket .container .main-section .form .container-block1 .text-block .select-block {
              width: 100%;
              display: flex;
              align-items: center; }
              .page-basket .container .main-section .form .container-block1 .text-block .select-block .label-name {
                display: block;
                font-size: 15px;
                line-height: 15px;
                font-weight: 700;
                text-transform: uppercase;
                width: 144px;
                flex-shrink: 0;
                margin-right: 22px; }
              .page-basket .container .main-section .form .container-block1 .text-block .select-block .feature {
                width: 100%;
                padding: 12px 56px 12px 22px;
                font-size: 16px;
                line-height: 16px;
                font-weight: 400;
                height: 40px;
                background-color: #ffffff;
                border: 1px solid #d8d8d8;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background-image: url("../img/iconcolor/selectbtn.png");
                background-repeat: no-repeat;
                background-position: right 16px center; }
        .page-basket .container .main-section .form .container-block2 {
          display: flex;
          margin-bottom: 19px;
          justify-content: space-between;
          align-items: center; }
          .page-basket .container .main-section .form .container-block2 .label-name {
            text-align: end;
            flex-shrink: 0;
            display: block;
            width: 137px;
            font-size: 15px;
            line-height: 15px;
            font-weight: 700; }
          .page-basket .container .main-section .form .container-block2 .input-name {
            font-size: 16px;
            line-height: 24px;
            font-weight: 300;
            letter-spacing: 0.05em;
            color: #868383;
            height: 40px;
            padding-left: 20px; }
          .page-basket .container .main-section .form .container-block2 .long {
            width: 305px; }
          .page-basket .container .main-section .form .container-block2 .small {
            width: 123px; }
        .page-basket .container .main-section .form .container-block3 {
          width: 100%;
          display: flex;
          align-items: center;
          margin-bottom: 36px; }
          .page-basket .container .main-section .form .container-block3 .label-name {
            display: block;
            font-size: 15px;
            line-height: 15px;
            font-weight: 700;
            text-transform: uppercase;
            width: 137px;
            flex-shrink: 0;
            margin-right: 18px;
            text-align: end; }
          .page-basket .container .main-section .form .container-block3 .feature {
            padding: 12px 56px 12px 22px;
            font-size: 16px;
            line-height: 16px;
            font-weight: 400;
            height: 40px;
            background-color: #ffffff;
            border: 1px solid #d8d8d8;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-image: url("../img/iconcolor/selectbtn.png");
            background-repeat: no-repeat;
            background-position: right 16px center; }
        .page-basket .container .main-section .form .container-block4 {
          display: flex;
          justify-content: space-between; }
          .page-basket .container .main-section .form .container-block4 .agree {
            display: flex;
            align-items: center; }
            .page-basket .container .main-section .form .container-block4 .agree .checkbox .new-v {
              width: 26px;
              height: 23px;
              border: 1.0px solid #d8d8d8;
              margin-right: 24px; }
            .page-basket .container .main-section .form .container-block4 .agree .checkbox .agree-v {
              display: none; }
            .page-basket .container .main-section .form .container-block4 .agree .checkbox .agree-v:checked ~ .new-v {
              background-image: url("../img/icon/smple-black-checkmark-png-31.png");
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center; }
            .page-basket .container .main-section .form .container-block4 .agree .agree-text {
              font-size: 16px;
              line-height: 22px;
              font-weight: 500;
              color: #23211e; }
              .page-basket .container .main-section .form .container-block4 .agree .agree-text .personal {
                text-decoration: underline;
                color: #ec7919; }
          .page-basket .container .main-section .form .container-block4 .form-btn {
            width: 218px;
            height: 48px; }

.card {
  position: relative; }
  .card .container {
    max-width: 1600px;
    margin: 0 auto;
    display: flex; }
    .card .container .main-section {
      width: 100%; }
      .card .container .main-section .index {
        display: flex;
        margin-bottom: 42px; }
        .card .container .main-section .index .index-text {
          font-size: 16px;
          line-height: 16px;
          font-weight: 400;
          color: #ec7919;
          margin-right: 10px; }
        .card .container .main-section .index .choose {
          font-weight: 300;
          color: #525358; }
      .card .container .main-section .headling2 {
        width: 85%;
        margin-bottom: 34px; }
        .card .container .main-section .headling2 .vendor-code {
          margin-left: 25px;
          font-size: 18px;
          line-height: 18px;
          font-weight: 500;
          color: #525358; }
      .card .container .main-section .card {
        margin-bottom: 75px;
        display: flex; }
        .card .container .main-section .card .card-img {
          width: 43%;
          height: 856px;
          margin-right: 28px; }
        .card .container .main-section .card .description {
          width: 100%; }
          .card .container .main-section .card .description .priceDoor {
            margin-bottom: 30px; }
            .card .container .main-section .card .description .priceDoor .doors-amount {
              display: flex; }
              .card .container .main-section .card .description .priceDoor .doors-amount .amount {
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin-bottom: 3px; }
                .card .container .main-section .card .description .priceDoor .doors-amount .amount .choose-number {
                  font-size: 15px;
                  line-height: 24px;
                  font-weight: 700;
                  text-transform: uppercase; }
                  .card .container .main-section .card .description .priceDoor .doors-amount .amount .choose-number .star {
                    color: #ec7919;
                    margin-left: 4px; }
                .card .container .main-section .card .description .priceDoor .doors-amount .amount .discount {
                  font-size: 16px;
                  line-height: 24px;
                  font-weight: 400;
                  color: #ec7919; }
                .card .container .main-section .card .description .priceDoor .doors-amount .amount .list-number {
                  display: flex; }
                  .card .container .main-section .card .description .priceDoor .doors-amount .amount .list-number .number-btn:not(:last-child) {
                    margin-right: 5px; }
              .card .container .main-section .card .description .priceDoor .doors-amount .in-stock {
                margin-left: 16px;
                display: flex;
                flex-shrink: 0;
                width: 176px;
                justify-content: flex-end; }
                .card .container .main-section .card .description .priceDoor .doors-amount .in-stock .in-stock-text {
                  padding-left: 29px;
                  background-image: url("../img/iconcolor/galka_6328.png");
                  background-repeat: no-repeat;
                  background-position: left top;
                  font-size: 18px;
                  line-height: 20px;
                  font-weight: 400;
                  color: #009100; }
            .card .container .main-section .card .description .priceDoor .doors-set {
              display: flex;
              justify-content: space-between; }
              .card .container .main-section .card .description .priceDoor .doors-set .priceForDoors {
                display: flex;
                justify-content: space-between;
                padding: 16px 16px 14px 33px;
                width: 100%;
                border: 1.0px solid #dcdcdc; }
                .card .container .main-section .card .description .priceDoor .doors-set .priceForDoors .oldPrice {
                  font-size: 25px;
                  line-height: 28px;
                  font-weight: 500;
                  color: #929090;
                  text-decoration: line-through;
                  margin-bottom: 15px; }
                .card .container .main-section .card .description .priceDoor .doors-set .priceForDoors .newPrice {
                  font-size: 30px;
                  line-height: 28px;
                  font-weight: 700;
                  color: #27282d;
                  margin-bottom: 12px;
                  cursor: pointer; }
                  .card .container .main-section .card .description .priceDoor .doors-set .priceForDoors .newPrice:hover {
                    color: #e73636; }
                .card .container .main-section .card .description .priceDoor .doors-set .priceForDoors .priceMeasure {
                  font-size: 16px;
                  line-height: 28px;
                  font-weight: 400;
                  color: #27282d; }
                .card .container .main-section .card .description .priceDoor .doors-set .priceForDoors .set-details {
                  width: 40%;
                  padding: 21px 16px 18px 24px;
                  font-size: 16px;
                  font-weight: 400;
                  background-color: #f3f3f3; }
                  .card .container .main-section .card .description .priceDoor .doors-set .priceForDoors .set-details .set-title {
                    line-height: 25px;
                    font-weight: 700;
                    text-transform: uppercase; }
              .card .container .main-section .card .description .priceDoor .doors-set .buy {
                width: 176px;
                margin-left: 16px;
                flex-shrink: 0;
                display: flex;
                align-items: center;
                justify-content: center; }
                .card .container .main-section .card .description .priceDoor .doors-set .buy .btn-container .sent-basket-btn:not(:last-child) {
                  margin-bottom: 14px; }
          .card .container .main-section .card .description .size {
            display: flex;
            justify-content: space-between;
            margin-bottom: 40px; }
            .card .container .main-section .card .description .size .choose-size {
              width: 66.5%; }
              .card .container .main-section .card .description .size .choose-size .list-size {
                display: flex;
                justify-content: space-between;
                margin-bottom: 30px; }
                .card .container .main-section .card .description .size .choose-size .list-size .item-title {
                  display: flex;
                  align-items: center;
                  justify-content: flex-start;
                  width: 13%;
                  font-size: 15px;
                  line-height: 25px;
                  font-weight: 700;
                  text-transform: uppercase; }
                .card .container .main-section .card .description .size .choose-size .list-size .item-size {
                  cursor: pointer;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 110px;
                  height: 40px;
                  border: 1.0px solid #d8d8d8;
                  font-size: 18px;
                  line-height: 24px;
                  font-weight: 400; }
                  .card .container .main-section .card .description .size .choose-size .list-size .item-size:hover {
                    border: 1.0px solid #ec7919; }
              .card .container .main-section .card .description .size .choose-size .list-color {
                display: flex;
                justify-content: space-between; }
                .card .container .main-section .card .description .size .choose-size .list-color .item-title {
                  display: flex;
                  align-items: center;
                  justify-content: flex-start;
                  width: 13%;
                  font-size: 15px;
                  line-height: 25px;
                  font-weight: 700;
                  text-transform: uppercase; }
                .card .container .main-section .card .description .size .choose-size .list-color .item-color {
                  cursor: pointer;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 110px;
                  height: 40px;
                  border: 1.0px solid #d8d8d8; }
                  .card .container .main-section .card .description .size .choose-size .list-color .item-color .show-color {
                    width: 88px;
                    height: 23px; }
                  .card .container .main-section .card .description .size .choose-size .list-color .item-color:hover {
                    border: 1.0px solid #ec7919; }
            .card .container .main-section .card .description .size .specification {
              width: 25.4%;
              padding: 9px 27px;
              background-color: #f3f3f3; }
              .card .container .main-section .card .description .size .specification .specification-title {
                font-size: 15px;
                line-height: 25px;
                font-weight: 700;
                text-transform: uppercase;
                color: #ec7919; }
          .card .container .main-section .card .description .characteristics {
            margin-bottom: 33px; }
            .card .container .main-section .card .description .characteristics .char-btn {
              margin-bottom: 10px; }
              .card .container .main-section .card .description .characteristics .char-btn .char-button {
                width: 210px;
                height: 53px; }
                .card .container .main-section .card .description .characteristics .char-btn .char-button:not(:last-child) {
                  margin-right: 15px; }
                .card .container .main-section .card .description .characteristics .char-btn .char-button:hover {
                  background-color: #ec7919;
                  color: #ffffff; }
            .card .container .main-section .card .description .characteristics .char-text .text-list .item-text {
              display: flex;
              justify-content: space-between;
              align-items: center;
              height: 48px;
              padding: 0 19px 0 11px; }
              .card .container .main-section .card .description .characteristics .char-text .text-list .item-text:nth-child(2n) {
                background-color: #fafafa; }
              .card .container .main-section .card .description .characteristics .char-text .text-list .item-text .left {
                font-size: 18px;
                line-height: 20px;
                font-weight: 700; }
              .card .container .main-section .card .description .characteristics .char-text .text-list .item-text .right {
                font-size: 18px;
                line-height: 20px;
                font-weight: 400; }
          .card .container .main-section .card .description .service {
            display: flex; }
            .card .container .main-section .card .description .service .shipping {
              width: 39%;
              font-size: 16px;
              line-height: 28px;
              font-weight: 400; }
              .card .container .main-section .card .description .service .shipping .details {
                font-weight: 500;
                color: #ec7919; }
            .card .container .main-section .card .description .service .install {
              width: 30%;
              margin-left: 65px; }
      .card .container .main-section .hardware-doors {
        margin-bottom: 30px;
        text-align: start; }
      .card .container .main-section .hardware {
        width: 100%;
        display: flex;
        margin-bottom: 77px; }
        .card .container .main-section .hardware .hardware-phono {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-content: space-between; }
          .card .container .main-section .hardware .hardware-phono .hardware-handle {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: calc(100% / 2 - 31px / 2);
            height: 159px;
            border: 1.0px solid #dcdcdc; }
            .card .container .main-section .hardware .hardware-phono .hardware-handle .handle-img {
              margin-bottom: 25px;
              padding-left: 24px; }
            .card .container .main-section .hardware .hardware-phono .hardware-handle .handle-name {
              width: 124px;
              font-size: 20px;
              line-height: 22px;
              font-weight: 500; }
        .card .container .main-section .hardware .video {
          width: 778px;
          height: 520px;
          flex-shrink: 0;
          margin-left: 57px; }
      .card .container .main-section .offer {
        margin-bottom: 32px; }
      .card .container .main-section .goods-list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 33px; }
        .card .container .main-section .goods-list .left {
          width: 10px;
          height: 10px;
          border-top: 3px solid #ec7919;
          border-left: 3px solid #ec7919;
          transform: rotate(-45deg) translate(25%, 25%); }
        .card .container .main-section .goods-list .right {
          transform: rotate(135deg) translate(25%, 25%); }
        .card .container .main-section .goods-list .offer-btn {
          border: none;
          margin-top: 127px; }
        .card .container .main-section .goods-list .item {
          text-align: center;
          margin-bottom: 57px; }
          .card .container .main-section .goods-list .item:not(:nth-child(8n)) {
            margin-right: 30px; }
          .card .container .main-section .goods-list .item .goods-img {
            height: 314px;
            margin-bottom: 19px; }
          .card .container .main-section .goods-list .item .goods-name {
            font-size: 20px;
            line-height: 20px;
            font-weight: 500;
            margin-bottom: 12px; }
          .card .container .main-section .goods-list .item .goods-color {
            font-size: 16px;
            line-height: 18px;
            font-weight: 300;
            color: #2b2d2f;
            margin-bottom: 19px; }
          .card .container .main-section .goods-list .item .old-price {
            font-size: 16px;
            line-height: 22px;
            font-weight: 500;
            color: #7c7c7c;
            text-decoration: line-through; }
          .card .container .main-section .goods-list .item .new-price {
            font-size: 20px;
            line-height: 22px;
            font-weight: 500;
            color: #e73636;
            margin-bottom: 18px; }

.page-catalog {
  position: relative; }
  .page-catalog .container {
    max-width: 1600px;
    margin: 0 auto;
    display: flex; }
    .page-catalog .container .main-section {
      width: 100%; }
      .page-catalog .container .main-section .index {
        display: flex;
        margin-bottom: 42px; }
        .page-catalog .container .main-section .index .index-text {
          font-size: 16px;
          line-height: 16px;
          font-weight: 400;
          color: #ec7919;
          margin-right: 10px; }
        .page-catalog .container .main-section .index .choose {
          font-weight: 300;
          color: #525358; }
      .page-catalog .container .main-section .sorting {
        padding: 0 26px 0 37px;
        height: 175px;
        display: flex;
        align-items: center;
        background-color: #fafafa;
        margin-bottom: 52px; }
        .page-catalog .container .main-section .sorting .sorting-container {
          width: 100%;
          display: flex;
          align-items: center;
          align-content: space-between;
          flex-direction: column; }
          .page-catalog .container .main-section .sorting .sorting-container .select-list {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 27px; }
            .page-catalog .container .main-section .sorting .sorting-container .select-list .select-feture:not(:last-child) {
              margin-right: 26px; }
          .page-catalog .container .main-section .sorting .sorting-container .select-list2 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%; }
            .page-catalog .container .main-section .sorting .sorting-container .select-list2 .select-btn {
              display: flex;
              width: 834px;
              flex-shrink: 0;
              justify-content: space-between;
              align-items: center; }
          .page-catalog .container .main-section .sorting .sorting-container .select-feture {
            font-size: 15px;
            line-height: 15px;
            font-weight: 700;
            text-transform: uppercase; }
            .page-catalog .container .main-section .sorting .sorting-container .select-feture .feature {
              padding: 12px 56px 12px 22px;
              font-size: 16px;
              line-height: 16px;
              font-weight: 400;
              height: 40px;
              background-color: #ffffff;
              border: 1px solid #d8d8d8;
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              background-image: url("../img/iconcolor/selectbtn.png");
              background-repeat: no-repeat;
              background-position: right 16px center;
              margin-left: 15px; }
          .page-catalog .container .main-section .sorting .sorting-container .sort {
            margin-right: 29px; }
          .page-catalog .container .main-section .sorting .sorting-container .find {
            font-size: 16px;
            line-height: 16px;
            font-weight: 400;
            color: #656463; }
            .page-catalog .container .main-section .sorting .sorting-container .find .find-goods {
              margin: 0 4px; }
      .page-catalog .container .main-section .headling2 {
        margin-bottom: 43px; }
      .page-catalog .container .main-section .view {
        height: 53px;
        padding: 0 26px;
        margin-bottom: 21px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fafafa; }
        .page-catalog .container .main-section .view .price-btn:not(:last-child) {
          margin-right: 36px; }
        .page-catalog .container .main-section .view .show {
          display: flex;
          align-items: center; }
          .page-catalog .container .main-section .view .show .showAll {
            margin-right: 53px; }
          .page-catalog .container .main-section .view .show .page-number {
            font-size: 15px;
            line-height: 15px;
            font-weight: 700;
            text-transform: uppercase; }
          .page-catalog .container .main-section .view .show .page {
            margin-left: 25px;
            padding: 12px 35px 12px 22px;
            font-size: 16px;
            line-height: 16px;
            font-weight: 400;
            height: 40px;
            background-color: #ffffff;
            border: 1px solid #d8d8d8;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-image: url("../img/iconcolor/selectbtn.png");
            background-repeat: no-repeat;
            background-position: right 15px center; }
      .page-catalog .container .main-section .goods-list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 33px; }
        .page-catalog .container .main-section .goods-list .item {
          text-align: center;
          margin-bottom: 57px; }
          .page-catalog .container .main-section .goods-list .item:not(:nth-child(7n)) {
            margin-right: 51px; }
          .page-catalog .container .main-section .goods-list .item .goods-img {
            height: 314px;
            margin-bottom: 19px; }
          .page-catalog .container .main-section .goods-list .item .goods-name {
            font-size: 20px;
            line-height: 20px;
            font-weight: 500;
            margin-bottom: 12px; }
          .page-catalog .container .main-section .goods-list .item .goods-color {
            font-size: 16px;
            line-height: 18px;
            font-weight: 300;
            color: #2b2d2f;
            margin-bottom: 19px; }
          .page-catalog .container .main-section .goods-list .item .old-price {
            font-size: 16px;
            line-height: 22px;
            font-weight: 500;
            color: #7c7c7c;
            text-decoration: line-through; }
          .page-catalog .container .main-section .goods-list .item .new-price {
            font-size: 20px;
            line-height: 22px;
            font-weight: 500;
            color: #e73636;
            margin-bottom: 18px; }
      .page-catalog .container .main-section .pages-list {
        display: flex;
        justify-content: center;
        background-color: #fafafa;
        align-items: center;
        height: 78px; }
        .page-catalog .container .main-section .pages-list .button-number {
          margin-left: 23px;
          display: flex;
          width: 30%;
          justify-content: space-between; }
        .page-catalog .container .main-section .pages-list .left {
          width: 10px;
          height: 10px;
          border-top: 3px solid #ec7919;
          border-left: 3px solid #ec7919;
          transform: rotate(-45deg) translate(25%, 25%); }
        .page-catalog .container .main-section .pages-list .dots {
          font-size: 20px;
          line-height: 20px;
          font-weight: 500; }
        .page-catalog .container .main-section .pages-list .last {
          margin-right: 23px; }
        .page-catalog .container .main-section .pages-list .right {
          width: 10px;
          height: 10px;
          border-top: 3px solid #ec7919;
          border-left: 3px solid #ec7919;
          transform: rotate(135deg) translate(25%, 25%); }

.page-company {
  position: relative; }
  .page-company .container {
    max-width: 1600px;
    margin: 0 auto;
    display: flex; }
    .page-company .container .main-section {
      width: 100%; }
      .page-company .container .main-section .index {
        display: flex;
        margin-bottom: 54px; }
        .page-company .container .main-section .index .index-text {
          font-size: 16px;
          line-height: 16px;
          font-weight: 400;
          color: #ec7919;
          margin-right: 10px; }
        .page-company .container .main-section .index .choose {
          font-weight: 300;
          color: #525358; }
      .page-company .container .main-section .headling2 {
        margin-bottom: 37px; }
      .page-company .container .main-section .about-company .about-img {
        width: 572px;
        height: 434px;
        float: left;
        margin: 0 44px 47px 0; }
      .page-company .container .main-section .about-company .about-text {
        display: block;
        margin-bottom: 41px;
        font-size: 18px;
        line-height: 27px;
        font-weight: 400; }
      .page-company .container .main-section .headling3 {
        margin-bottom: 29px;
        text-align: start; }
      .page-company .container .main-section .warehouse {
        margin-bottom: 46px; }
        .page-company .container .main-section .warehouse .list-img {
          display: flex;
          justify-content: space-between;
          margin-bottom: 50px; }
          .page-company .container .main-section .warehouse .list-img .img-item {
            width: calc(100% / 3  - 22px);
            height: 322px;
            background-size: cover;
            background-repeat: no-repeat; }
            .page-company .container .main-section .warehouse .list-img .img-item .warehouse-img {
              width: 100%; }
        .page-company .container .main-section .warehouse .text {
          font-size: 18px;
          line-height: 28px;
          font-weight: 400; }
      .page-company .container .main-section .contact-text {
        margin-bottom: 60px; }
        .page-company .container .main-section .contact-text .text-list .item-text {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 48px;
          padding: 0 19px 0 11px; }
          .page-company .container .main-section .contact-text .text-list .item-text:nth-child(2n) {
            background-color: #fafafa; }
          .page-company .container .main-section .contact-text .text-list .item-text .left {
            font-size: 18px;
            line-height: 20px;
            font-weight: 700; }
          .page-company .container .main-section .contact-text .text-list .item-text .right {
            font-size: 18px;
            line-height: 20px;
            font-weight: 400; }
