.page-catalog {
  position: relative;
  .container {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;

    .main-section {
      width: 100%;
      .index {
        display: flex;
        margin-bottom: 42px;
        .index-text {
          font-size: 16px;
          line-height: 16px;
          font-weight: 400;
          color: #ec7919;
          margin-right: 10px;
        }
        .choose {
          font-weight: 300;
          color: #525358;
        }
      }
      .sorting {
        padding: 0 26px 0 37px;
        height: 175px;
        display: flex;
        align-items: center;
        background-color: #fafafa;
        margin-bottom: 52px;
        .sorting-container {
          width: 100%;
          display: flex;
          align-items: center;
          align-content: space-between;
          flex-direction: column;
          .select-list {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 27px;
            .select-feture:not(:last-child) {
              margin-right: 26px;
            }
          }
          .select-list2 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .select-btn {
              display: flex;
              width: 834px;
              flex-shrink: 0;
              justify-content: space-between;
              align-items: center;
            }
          }
          .select-feture {
            font-size: 15px;
            line-height: 15px;
            font-weight: 700;
            text-transform: uppercase;
            .feature {
              padding: 12px 56px 12px 22px;
              font-size: 16px;
              line-height: 16px;
              font-weight: 400;
              height: 40px;
              background-color: #ffffff;
              border: 1px solid #d8d8d8;
              appearance: none;
              background-image: url("../img/iconcolor/selectbtn.png");
              background-repeat: no-repeat;
              background-position: right 16px center;
              margin-left: 15px;
            }
          }
          .sort {
            margin-right: 29px;
          }
          .sort-cancel {
          }
          .find {
            font-size: 16px;
            line-height: 16px;
            font-weight: 400;
            color: #656463;
            .find-goods {
              margin: 0 4px;
            }
          }
        }
      }
      .headling2 {
        margin-bottom: 43px;
      }
      .view {
        height: 53px;
        padding: 0 26px;
        margin-bottom: 21px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fafafa;
        .price-btn:not(:last-child) {
          margin-right: 36px;
        }
        .show {
          display: flex;
          align-items: center;
          .showAll {
            margin-right: 53px;
          }
          .page-number {
            font-size: 15px;
            line-height: 15px;
            font-weight: 700;
            text-transform: uppercase;
          }
          .page {
            margin-left: 25px;
            padding: 12px 35px 12px 22px;
            font-size: 16px;
            line-height: 16px;
            font-weight: 400;
            height: 40px;
            background-color: #ffffff;
            border: 1px solid #d8d8d8;
            appearance: none;
            background-image: url("../img/iconcolor/selectbtn.png");
            background-repeat: no-repeat;
            background-position: right 15px center;
          }
        }
      }
      .goods-list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 33px;
        .item {
          text-align: center;
          margin-bottom: 57px;
          &:not(:nth-child(7n)) {
            margin-right: 51px;
          }
          .goods-img {
            height: 314px;
            margin-bottom: 19px;
          }
          .goods-name {
            font-size: 20px;
            line-height: 20px;
            font-weight: 500;
            margin-bottom: 12px;
          }
          .goods-color {
            font-size: 16px;
            line-height: 18px;
            font-weight: 300;
            color: #2b2d2f;
            margin-bottom: 19px;
          }
          .old-price {
            font-size: 16px;
            line-height: 22px;
            font-weight: 500;
            color: #7c7c7c;
            text-decoration: line-through;
          }
          .new-price {
            font-size: 20px;
            line-height: 22px;
            font-weight: 500;
            color: #e73636;
            margin-bottom: 18px;
          }
        }
      }
      .pages-list {
        display: flex;
        justify-content: center;
        background-color: #fafafa;
        align-items: center;
        height: 78px;
        .button-number {
          margin-left: 23px;
          display: flex;
          width: 30%;
          justify-content: space-between;
        }
        .left {
          width: 10px;
          height: 10px;
          border-top: 3px solid #ec7919;
          border-left: 3px solid #ec7919;
          transform: rotate(-45deg) translate(25%, 25%);
        }
        .dots {
          font-size: 20px;
          line-height: 20px;
          font-weight: 500;
        }
        .last {
          margin-right: 23px;
        }
        .right {
          width: 10px;
          height: 10px;
          border-top: 3px solid #ec7919;
          border-left: 3px solid #ec7919;
          transform: rotate(135deg) translate(25%, 25%);
        }
      }
    }
  }
}
