<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Двери тут
    link(rel="stylesheet", href="css/companyAbout.css")
  body.page-company

    include ../modules/header

    main.main
      .container

        include ../modules/sidebar

        section.main-section
          .index
            a(href="#").index-text Главная
            .index-text >
            .index-text.choose О компании

          .headling2 О нашей компании

          .about-company
            img(src="img/img/dveri-zakazat-ili-kupit-v-magazine.png", alt="img").about-img
            p.about-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            p.about-text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolo
            p.about-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.

          .headling3 Собственный склад

          .warehouse
            ul.list-img
              for i in ["img/img/warehouse.png","img/img/warehouse.png","img/img/warehouse.png"]
                li(style=`background-image: url(${i})`).img-item
            p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt

          .headling3.hall Выставочные залы

          .warehouse
            ul.list-img
              for i in ["img/img/warehouse.png","img/img/warehouse.png","img/img/warehouse.png"]
                li(style=`background-image: url(${i})`).img-item
            p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt

          .headling3.list Что-то еще списком (можно применить на странице контакты)
            .contact-text
              ul.text-list
                for i in [{left:"ИНН::", right:"12512521563251"},{left:"КПП:", right:"56451213216541"},{left:"Юридический адрес:", right:" Москва, ул. Куйбышевская, д 12, оф. 407"},{left:"ИНН:", right:"12512521563251"},{left:"КПП:", right:"56451213216541"},{left:"Юридический адрес:", right:"Москва, ул. Куйбышевская, д 12, оф. 407"}]
                  li.item-text
                    p.left=i.left
                    p.right=i.right

    include ../modules/footer
