- var doors = ['Межкомнатные двери','Входные двери','Раздвижные двери','Складские двери','Арки и порталы','Противопожарные','Для бани и сауны','Фурнитура']
- var interiorDoors1 = [{src:"../img/img/d1.jpeg", text:"Двери экошпон", count:"250 моделей"},{src:"../img/img/d2.jpeg", text:"Двери ламинированные", count:"3050 моделей"},{src:"../img/img/d3.jpeg", text:"Двери ПВХ", count:"752 моделей"},{src:"../img/img/d4.jpeg", text:"Двери эмалит", count:"1050 моделей"}]
- var entranceDoors2 = [{src:"../img/img/d1.jpeg", text:"Металл", count:"3251 моделей"},{src:"../img/img/d1.jpeg", text:"Дерево", count:"1025 моделей"},{src:"../img/img/d1.jpeg", text:"Пластик", count:"2050 моделей"}]
- var slidingDoors3 = [{src:"../img/img/d1.jpeg", text:"Экошпон", count:"250 моделей"},{src:"../img/img/d2.jpeg", text:"Стеклянные", count:"3050 моделей"},{src:"../img/img/d3.jpeg", text:"ПВХ", count:"752 моделей"},{src:"../img/img/d4.jpeg", text:"Эмаль", count:"1050 моделей"}]
- var warehouseDoors4 = [{src:"../img/img/d1.jpeg", text:"ПВХ", count:"3251 моделей"},{src:"../img/img/d1.jpeg", text:"Ламинированные", count:"1025 моделей"}]
- var archesPortals5 = [{src:"../img/img/d1.jpeg", text:"Экошпон", count:"250 моделей"},{src:"../img/img/d2.jpeg", text:"Шпонированные", count:"3050 моделей"},{src:"../img/img/d3.jpeg", text:"ПВХ", count:"752 моделей"},{src:"../img/img/d4.jpeg", text:"Без отделки", count:"1050 моделей"}]
- var fireFighting6 = [{src:"../img/img/d1.jpeg", text:"1 створка", count:"3251 моделей"},{src:"../img/img/d1.jpeg", text:"2 створки", count:"1025 моделей"}]
- var bathSauna7 = [{src:"../img/img/d1.jpeg", text:"Массив", count:"250 моделей"},{src:"../img/img/d2.jpeg", text:"Стеклянные", count:"3050 моделей"},{src:"../img/img/d3.jpeg", text:"Сосна", count:"752 моделей"},{src:"../img/img/d4.jpeg", text:"Липа", count:"1050 моделей"}]
- var hardware8 =  [{src:"../img/img/d1.jpeg", text:"Ручки", count:"3251 моделей"},{src:"../img/img/d1.jpeg", text:"Петли", count:"1025 моделей"},{src:"../img/img/d1.jpeg", text:"Замки", count:"2050 моделей"}]
- var models = [interiorDoors1, entranceDoors2, slidingDoors3, warehouseDoors4, archesPortals5, fireFighting6, bathSauna7, hardware8]
- var linkinterio1 = ['Двери экошпон', 'Шпон натуральный', 'Двери из массива', 'Двери эмаль', 'Двери еврошпон', 'Двери ламинированные', 'Двери ПВХ', 'Двери файн-лайн', 'Двери стеклянные', '3D-Graf', 'Двери эмалит', 'Двери строителям']
- var linkentranceDoors2 = ['Металлические двери', 'Деревянные двери', 'Пластиковые двери']
- var linkslidingDoors3 = ['Экошпон', 'Шпонированные', 'Ламинированные', 'ПВХ', 'Эмаль', 'Массив', 'Стеклянные', '3D-Graf', 'Еврошпон']
- var linkwarehouseDoors4 = ['Двери ПВХ', 'Ламинированные двери']
- var linkarchesPortals5 = ['Экошпон', 'Шпонированные', 'Двери ПВХ', 'Двери без отделки']
- var linkfireFighting6 = ['Двустворчатые', 'Одностворчатые двери']
- var linkbathSauna7 = ['Двери из массива', 'Стеклянные двери', 'Двери из сосны', 'Двери из липы']
- var linkHardware8 = ['Ручки раздельные', 'Петли', 'Замки в комплекте', 'Финская фурнитура', 'Замки и защелки', 'Ригели', 'Фурнитура для стеклянных дверей', 'Накладки и фиксаторы',	'Ручки-защелки', 'Фурнитура для дверей купе', 'Упоры и пороги', 'Доводчики', 'Звонки', 'Электронные глазки', 'Прочее']
- var link = [linkinterio1, linkentranceDoors2, linkslidingDoors3, linkwarehouseDoors4, linkarchesPortals5, linkfireFighting6, linkbathSauna7,linkHardware8]
<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Двери тут
    link(rel="stylesheet", href="css/style.css")
  body.page-main

    include ../modules/header

    main.main
      .container

        include ../modules/sidebar

        section.main-section
          .slider
            img.new-year-img(src="img/img/dde71a2a (1).png", alt="branch")
            .slider-news
              h1.headling1 Новогодние скидки!
              p.text С 24 декабря по 20 января
              button.sale-btn Перейти к распродаже
          ul.slider-btn-list
            for i in ['','','','','','']
              li.item
                button.slider-dot-btn
          ul.content
            each i, num in doors
              li.doors-kind
                h2.headling2=i
                ul.models
                  each j in models[num]
                    li.model-item
                      img(src=j.src, alt="img").m-img
                      p.m-title=j.text
                      p.m-count=j.count
                .m-link
                  each b in link[num]
                    a(href="#").doorLink=b

    include ../modules/footer





