<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Двери тут
    link(rel="stylesheet", href="css/style.css")
  body.page-login

    include ./modules/header

    main.card
      div.container
        form(method="POST" action="/login")
          div
            input.input.input-email(type="email" name="email" placeholder="Email" value="a@b.ru")
          div
            input.input.input-password(type="password" name="password" placeholder="Пароль" value="123")
          div
            button.btn.btn-reg(type="submit") Войти

    include ./modules/footer





