//header

.btn-phone {
  width: 189px;
  height: 44px;
  background-color: #ec7919;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #ffffff;
}

.catalog-btn {
  width: 274px;
  height: 58px;
  background-color: #38393e;
  display: flex;
  justify-content: center;
  margin-right: 44px;
  .burger {
    display: flex;
    flex-direction: column;
    margin-right: 19px;
    .line {
      width: 27px;
      height: 2px;
      background-color: #ffffff;
      margin-bottom: 5px;
    }
    .line:last-child {
      margin-bottom: 0;
    }
  }
  .catalog-text {
    font-size: 20px;
    line-height: 16px;
    font-weight: 400;
    color: #ffffff;
  }
}

//sidebar

.doors-name-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 271px;
  height: 43px;
  border: 1.0px solid #d0d0d0;
  font-size: 17px;
  line-height: 16px;
  font-weight: 500;
  margin-bottom: 2px;
  padding: 0 17px 0 29px;
}
  .point {
    width: 8px;
    height: 8px;
    border-bottom: solid 2px black;
    border-right: solid 2px black;
    transform: rotate(45deg) translateX(-25%);
  }

.door-material-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: left;
  font-size: 18px;
  line-height: 16px;
  font-weight: 400;
  margin-bottom: 23px;
  &:hover .point-in{
    border-color: #ec7919;
  }
}
  .point-in {
    width: 8px;
    height: 8px;
    border-bottom: solid 2px black;
    border-right: solid 2px black;
    transform: rotate(-45deg) translateX(-25%);
  }

//main

.slider-dot-btn {
  width: 11px;
  height: 11px;
  border: 2.0px solid #ec7919;
  border-radius: 6px;
  &:hover {
    background-color: #ec7919;
  }
}

.sale-btn {
  width: 259px;
  height: 55px;
  background-color: #ec7919;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: #ffffff;
}

//catalog

.sort-btn {
  width: 131px;
  height: 44px;
  background-color: #ec7919;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
}

.sort-cancel-btn {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: #ec7919;
}

.price-btn {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-decoration: underline;
  color: #ec7919;
}

.showAll-btn {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: #ec7919;
}

.in-basket-btn {
  width: 136px;
  height: 39px;
  background-color: #ec7919;
  font-size: 15px;
  line-height: 15px;
  font-weight: 500;
  color: #ffffff;
}

.more-goods-btn {
  width: 100%;
  height: 63px;
  background-color: #ec7919;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 24px;
}

.arrow-btn {
  width: 47px;
  height: 47px;
  background-color: #fafafa;
  border: 1.0px solid #525358;
  display: flex;
  align-items: center;
  justify-content: center;
}

.count-btn {
  width: 35px;
  height: 35px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  &:hover {
    background-color: #ec7919;
    color: #ffffff;
  }
}

// card

.num-btn {
  width: 43px;
  height: 45px;
  border: 1.0px solid #dcdcdc;
  font-size: 25px;
  line-height: 24px;
  font-weight: 400;
}

.sent-basket-btn {
  width: 100%;
  height: 48px;
  border: 1.5px solid #ec7919;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: #ec7919;
  &:hover {
    background-color: #ec7919;
    color: #ffffff;
  }
}

.but-btn {
  border: 1.5px solid #ec7919;
  font-size: 18px;
  line-height: 45px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #ec7919;
}

.offer-btn {
  border: none;
  margin-top: 127px;
}

//basket

.close-btn {
  width: 17px;
  height: 17px;
  background-image: url("../img/iconcolor/крест.jpg");
}

.form-btn {
  background-color: #ec7919;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: #ffffff;
}

//






