.sidebar {
  width: 274px;
  margin-right: 47px;
  .doors > .active {
    .door-mat-list {
      display: block;
    }
  }
  .doors {
    margin-bottom: 48px;
    .door-mat-list {
      padding: 23px 18px 3px 30px;
      display: none;
    }
    .door-mat-list > .active {
      .veneer {
        display: block;
      }
    }
    .veneer {
      margin-bottom: 27px;
      padding-left: 55px;
      display: none;
      .veneer-item:not(:last-child) {
        margin-bottom: 23px;
      }
      .veneer-name {
        font-size: 16px;
        color: #d96e14;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .sort-color {
    padding: 23px 0 28px 20px;
    display: none;
    .color:not(:last-child) {
      margin-bottom: 20px;
    }
    .color-name {
      padding-left: 22px;
      display: flex;
      align-items: center;

      .circle {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 15px;
      }
    }
      .color-choise {
        margin-right: 11px;
        height: 11px;
      }
      .color-name:hover {
        text-decoration: underline;
        color: #d66d15;
      }
  }

  .doors-parameters > .active {
    .sort-color {
      display: block;
    }
  }
}
